<h3>Venta #{{sale.id}}</h3>
<div class="data">
  <div>
    <span>Medio de pago</span>
    <span>{{sale.payment_method}}</span>
  </div>
  <div>
    <span>Fecha y hora</span>
    <span>{{sale.creation_timestamp | date:'short'}}</span>
  </div>
  <div>
    <span>Estado</span>
    <span>{{parseStatus(sale.status)}}</span>
  </div>
  <div>
    <span>Descuento</span>
    <span>{{sale.discount | percent}}</span>
  </div>
</div>
<div class="product-list">
  <div class="product-list-header">
    <span>ID</span>
    <span>Nombre</span>
    <span>Descripción</span>
    <span>Precio</span>
    <span>Cantidad</span>
    <span>Marca</span>
    <span>C/barra</span>
  </div>
  <div class="product-list-body" *ngFor="let item of sale.products">
    <span>{{item.id}}</span>
    <span>{{item.name}}</span>
    <span>{{item.description}}</span>
    <span>{{item.price | currency:'CAD':'symbol-narrow':'2.2-2'}}</span>
    <span>{{item.quantity}}</span>
    <span>{{item.brand}}</span>
    <span>{{item.barcode}}</span>
  </div>
</div>

<h2 class="subtotal">
  <span>
    Subtotal: {{calcSubtotal() | currency:'CAD':'symbol-narrow':'2.2-2'}}
  </span>
</h2>

<h1 class="total">
  <span>Total: {{sale.total | currency:'CAD':'symbol-narrow':'2.2-2'}}</span>
</h1>
