.div-container{
  box-shadow: 2px 0 15px 2px #70707080;
  width: 100%;
  height: 100vh;
  padding: 1em;
  background-color: var(--primary-color);
  position: relative;

  h3{
    padding-bottom: 1em;
    text-align: center;
    font-size: 2em;
    color: #fff;

    span {
      color: var(--secondary-color);
    }
  }

  div {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;

    span {
      font-size: 1.2em;
      margin-left: .5em;
    }
  }

  .logout {
    position: absolute;
    bottom: 3em;
  }
}
