.wallpaper {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/wallpaper.jpg");
  background-size: cover;

  .blur {
    height: 100%;
    width: 100%;
    background-color: #00000080;

    .form-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      float: right;
      background-color: #ddd;
      flex-direction: column;
      width: 50vw;

      h3{
        padding-bottom: 1em;
        text-align: center;
        font-size: 3em;
        color: var(--primary-color);

        span {
          color: var(--secondary-color);
          -webkit-text-stroke: 1px var(--primary-color);
        }
      }

      .div-container {
        width: 30%;

        div {
          input {
            padding: 1em;
            border-radius: 100px;
            border: 1px solid var(--primary-color);
            font-size: 1.2em;
            margin-top: 1em;
            color: #373737;
            width: 100%;
          }

          button {
            padding: 1em;
            margin-top: 1em;
            width: 100%;
            font-size: 1.2em;
            justify-content: space-around;
          }
        }
      }
    }
  }
}

