@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  outline: none;
}

:root {
  --primary-color: #85abf1;
}
