<main>
  <div class="container-top">
    <div class="element-1">
      <h2>Total Neto</h2>
      <h1>${{openCashRegister.total.total_net}}</h1>
    </div>
    <div class="element-2">
      <h2>Cantidad de ventas</h2>
      <h1>3</h1>
    </div>
    <div class="element-3">
      <h2>Productos vendidos</h2>
      <h1>15</h1>
    </div>
    <div class="element-4">
      <h2>Dinero egresado de caja</h2>
      <h1>${{parseOutgoings(openCashRegister.outgoing_cash)}}</h1>
    </div>
  </div>
  <div class="container-bottom">
    <div class="bottom-element-1">

    </div>
    <div class="bottom-element-2">

    </div>
  </div>
</main>
