<h1>Nuevo producto</h1>

<form [formGroup]="addProductForm">
  <div class="input-container">
    <input type="text" formControlName="name" placeholder="Nombre">
  </div>
  <div class="input-container">
    <input type="text" formControlName="description" placeholder="Descripción">
  </div>
  <div class="input-container">
    <input type="number" formControlName="stock" placeholder="Stock disponible">
  </div>
  <div class="input-container">
    <input type="number" formControlName="price" placeholder="Precio">
  </div>
  <div class="container-filter-all">

    <span>
      <input type="text" placeholder="Buscar marca"
                        [(ngModel)]="brandFilter"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="filterAllData()"
      >
      <mat-icon *ngIf="showFilteredBrandList" (click)="closeFilteredProducts()">
        close
      </mat-icon>
    </span>

    <div *ngIf="showFilteredBrandList">
      <span class="add-brand" (click)="addBrand()">
        Agregar marca
      </span>
      <span *ngFor="let item of filteredBrandList" (click)="selectBrand(item)">
        {{item.name}}
      </span>
    </div>
  </div>
  <div class="input-container">
    <input type="text" formControlName="barcode" placeholder="Código de barras">
  </div>

  <div class="buttons-container">
    <button class="btn-primary" (click)="validateForm()" *ngIf="!editBool">Agregar</button>
    <button class="btn-primary" (click)="saveChanges()" *ngIf="editBool">Guardar cambios</button>
  </div>
</form>
