h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

form {

  div {
    display: flex;
    justify-content: center;
    margin-top: .5em;

    input {
      border-bottom: 1px solid #bbb;
      padding: .7em 1em;
      font-size: 1.1em;
    }

    button {
      margin-top: 1em;
    }
  }

  .container-filter-all {
    position: relative;
    display: flex;
    align-items: center;

    >div {
      width: 100%;
      display: block;
      position: absolute;
      top: 2em;
      left: 1em;
      box-shadow: 1px 1px 5px 0 #bbb;
      max-height: 15vh;
      overflow-y: scroll;
      background-color: #fff;

      span {
        width: 100%;
        display: block;
        float: left;
        padding-block: .5em;
        cursor: pointer;

        &:hover {
          background-color: var(--primary-color-transparent);
        }
      }

      .add-brand {
        color: var(--primary-color);
        font-weight: bold;
      }
    }
  }
}
